<footer id="ft" class="footer bg-light-purple bg-gradient py-3 mt-auto" style="background-color: F7C04A;">
  <div class="container text-center ">
    <span class="text-dark ms-auto ">&copy; The Book Store</span>
  </div>
</footer>
