<% layout('layouts/boilerplate.ejs') %>
<main>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form class="product-form" action="/admin/add-product" method="POST">
        <div class="my-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" name="title" id="title" />
        </div>

        <button class="btn btn-success" type="submit">Add Product</button>
      </form>
    </div>
  </div>
</main>
